.calc{
   /* display: inline-block;
   /*align-content: center; 
   background-color: palevioletred;
   border: 10px solid black;
    border-radius: 20px ;
    */
    display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: minmax(120px, auto) repeat(4, 100px);

    
}


button{
   /**/
   
}

#output{
    grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
  padding: 10px;
  background-color: #646464d5;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  width: 74%;
  
  
  
    /* background-color: palevioletred;
    border: 10px solid black;
    border-radius: 20px; 
    padding-bottom: 100px; */

}